<section class="hero">
    <form [formGroup]="registerForm" (submit)="onSubmit()">
        <h3 class="register-form-title">{{ formTitle }}</h3>
    
        <input formControlName="name" type="text" placeholder="name" />
        <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)">
          <small *ngIf="registerForm.get('name')?.errors?.['required']">Name is required.</small>
          <small *ngIf="registerForm.get('name')?.errors?.['min']">Name must be at least 2 characters.</small>
          <small *ngIf="registerForm.get('name')?.errors?.['max']">Name must be at most 40 characters.</small>
        </div>
    
        <input formControlName="email" type="email" placeholder="email" />
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
          <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
    
        <input formControlName="password" type="password" placeholder="password" />
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
          <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
        </div>
    
        <div class="have-account">
          <p>Have an account? Sign in now 👉🏼</p>
          <a [routerLink]="['/auth/login']">login</a>
        </div>
    
        <button type="submit" [disabled]="registerForm.invalid">SignUp</button>
    </form>
    
</section>